<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Our library</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
  </head>
  <body style=''>
    <div id='main_body' class=''>
      {% load bootstrap3 %}
      
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <div style='text-align: right'>
        {% if request.user.is_authenticated %}
          <p>
            Welcome <b>{{request.user.username}}</b>! <br>
            <a href="{% url 'logout'%}">Logout</a>
          </p>
        {% else %}
          <p><a href="{% url 'login'%}">Login</a></p>
        {% endif %}
      </div>
      <h1>Welcome to our Library!</h1>
      <p><b>These are our best books:</b></p>
      <form id="search" action="" method="GET" class="bootstrap-form">
        <input type="text" name="q">
        <input type="submit" value="Search">
      </form>
      
      <br>
      
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Book Title</th>
            <th>Author</th>
            <th><a href="/?sort={% if sort_method == 'asc' %}desc{% else %}asc{% endif %}">Popularity({% if sort_method == 'asc' %} v {% else %} ^ {% endif %})</a></th>
          </tr>
        </thead>
        <tbody>
          {% for book in books %}
            <tr>
              <td>{{ book.id }}</td>
              <td>{{ book.title}}</td>
              <td><a href="{% url 'author_by_id' book.author.id %}">{{ book.author.name}}</a></td>
              <td>{{ book.popularity}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p><a href="{% url 'authors' %}">Prefer to browse by author?</a></p>
      <h1>Create a new book</h1>
      <form class="" action=" " method="POST" style="margin-bottom: 50px; width: 462px;">
        {% csrf_token %}
        {% bootstrap_form form %}
        <!--{{ form.as_p }}-->
        <input type="submit" value="Create book">
      </form>
      <br>
    </div>
  </body>
</html>
